<a href="https://colab.research.google.com/github/Gus-1003/Geoestatistica_Estudos_Dados/blob/main/DataSus_Brasil_2022/DataSus_Leitos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Preparar relatorio com os seguintes tópicos Analise de Componentes Principais (PCA) e  Analise Fatorial (FA).

1. Explanação da técnica de analise

A) Quem fez?

B) Qual o propósito geral?

C) Quais sao as principais etapas?

2. Escreva um algoritmo que realize:

A) Leitura de arquivo (CSV)

B) Estatísticas descritivas: describe, box-plot e correlacao de Pearson ou mapa de calor.

3. Faca a interpretação, pelo menos duas dessas variáveis.

4. Construa em seu algoritmo as seguintes técnicas:  Analise de Componentes Principais (PCA) e  Analise Fatorial (FA).

5. Interprete os resultados

# Importando Ferramentas:

In [1]:
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive/')
%cd /content/drive/MyDrive/

Mounted at /content/drive/
/content/drive/MyDrive

# Análise Descrivitiva dos Dados

In [3]:
# ler dados de interesse
dados = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Analises DataSus/esus-vepi.LeitoOcupacao_2022.csv', quotechar='"')

In [4]:
dados.head()

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z

In [5]:
dados.shape

(243445, 26)

In [6]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243445 entries, 0 to 243444
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             243445 non-null  int64
 1   _id                    243445 non-null  object
 2   dataNotificacao        243445 non-null  object
 3   cnes                   243445 non-null  object
 4   ocupacaoSuspeitoCli    1 non-null       float64
 5   ocupacaoSuspeitoUti    1 non-null       float64
 6   ocupacaoConfirmadoCli  1 non-null       float64
 7   ocupacaoConfirmadoUti  1 non-null       float64
 8   ocupacaoCovidUti       243445 non-null  float64
 9   ocupacaoCovidCli       243445 non-null  float64
 10  ocupacaoHospitalarUti  243445 non-null  float64
 11  ocupacaoHospitalarCli  243445 non-null  float64
 12  saidaSuspeitaObitos    243445 non-null  float64
 13  saidaSuspeitaAltas     243445 non-null  float64
 14  saidaConfirmadaObitos  243445 non-null  float64
 15  saidaConfirmadaAltas   243445 non-null  float64
 16  origem                 243445 non-null  object
 17  _p_usuario             243445 non-null  object
 18  estadoNotificacao      243445 non-null  object
 19  municipioNotificacao   243445 non-null  object
 20  estado                 243445 non-null  object
 21  municipio              243445 non-null  object
 22  excluido               243445 non-null  bool
 23  validado               243445 non-null  bool
 24  _created_at            243445 non-null  object
 25  _updated_at            243445 non-null  object
dtypes: bool(2), float64(12), int64(1), object(11)
memory usage: 45.0+ MB

In [7]:
dados.describe()

,Unnamed: 0,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,ocupacaoHospitalarUti,ocupacaoHospitalarCli,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,saidaConfirmadaAltas
count,2.434450e+05,1.0,1.0,1.0,1.0,243445.000000,243445.000000,243445.000000,243445.000000,243445.000000,243445.000000,243445.000000,243445.000000
mean,1.420358e+06,13.0,8.0,0.0,0.0,2.214574,3.241566,8.869367,36.556274,0.123794,0.548703,0.945059,6.659911
std,7.193734e+04,NaN,NaN,NaN,NaN,7.323370,44.984199,25.870032,78.219066,2.310973,9.545234,15.417578,157.534467
min,6.415080e+05,13.0,8.0,0.0,0.0,-7.000000,-1.000000,-5.000000,-1.000000,-5.000000,-5.000000,-1.000000,-6.000000
25%,1.360232e+06,13.0,8.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.421419e+06,13.0,8.0,0.0,0.0,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000
75%,1.482411e+06,13.0,8.0,0.0,0.0,1.000000,2.000000,10.000000,42.000000,0.000000,0.000000,0.000000,0.000000
max,1.543300e+06,13.0,8.0,0.0,0.0,300.000000,21701.000000,8191.000000,21701.000000,106.000000,3292.000000,3300.000000,9167.000000

In [8]:
dados.describe(include='object')

,_id,dataNotificacao,cnes,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,_created_at,_updated_at
count,243445,243445,243445,243445,243445,243445,243445,243445,243445,243445,243445
unique,243445,117801,2019,7,1206,27,1206,27,1206,243310,243316
top,PBGTlqtFBP,2022-01-14T03:00:00.000Z,2775999,parse-cloud,_User$HzwsO90KQW,São Paulo,São Paulo,São Paulo,São Paulo,2022-02-26T03:01:24.290Z,2022-02-26T03:01:24.290Z
freq,1,577,248,150636,93596,62209,11408,62206,11408,2,2

In [9]:
dados.isna().sum()

Unnamed: 0                    0
_id                           0
dataNotificacao               0
cnes                          0
ocupacaoSuspeitoCli      243444
ocupacaoSuspeitoUti      243444
ocupacaoConfirmadoCli    243444
ocupacaoConfirmadoUti    243444
ocupacaoCovidUti              0
ocupacaoCovidCli              0
ocupacaoHospitalarUti         0
ocupacaoHospitalarCli         0
saidaSuspeitaObitos           0
saidaSuspeitaAltas            0
saidaConfirmadaObitos         0
saidaConfirmadaAltas          0
origem                        0
_p_usuario                    0
estadoNotificacao             0
municipioNotificacao          0
estado                        0
municipio                     0
excluido                      0
validado                      0
_created_at                   0
_updated_at                   0
dtype: int64

# Quantidade de amostras:

## Amostragem Aleatoria Simples:

In [10]:
dados_sample = dados.sample(n=384)
dados_sample.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 384 entries, 68462 to 114704
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Unnamed: 0             384 non-null    int64
 1   _id                    384 non-null    object
 2   dataNotificacao        384 non-null    object
 3   cnes                   384 non-null    object
 4   ocupacaoSuspeitoCli    0 non-null      float64
 5   ocupacaoSuspeitoUti    0 non-null      float64
 6   ocupacaoConfirmadoCli  0 non-null      float64
 7   ocupacaoConfirmadoUti  0 non-null      float64
 8   ocupacaoCovidUti       384 non-null    float64
 9   ocupacaoCovidCli       384 non-null    float64
 10  ocupacaoHospitalarUti  384 non-null    float64
 11  ocupacaoHospitalarCli  384 non-null    float64
 12  saidaSuspeitaObitos    384 non-null    float64
 13  saidaSuspeitaAltas     384 non-null    float64
 14  saidaConfirmadaObitos  384 non-null    float64
 15  saidaConfirmadaAltas   384 non-null    float64
 16  origem                 384 non-null    object
 17  _p_usuario             384 non-null    object
 18  estadoNotificacao      384 non-null    object
 19  municipioNotificacao   384 non-null    object
 20  estado                 384 non-null    object
 21  municipio              384 non-null    object
 22  excluido               384 non-null    bool
 23  validado               384 non-null    bool
 24  _created_at            384 non-null    object
 25  _updated_at            384 non-null    object
dtypes: bool(2), float64(12), int64(1), object(11)
memory usage: 75.8+ KB

In [11]:
dados_sample.describe(include='object')

,_id,dataNotificacao,cnes,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,_created_at,_updated_at
count,384,384,384,384,384,384,384,384,384,384,384
unique,384,335,346,7,201,25,272,25,272,384,384
top,6YCIufBOxe,2022-02-22T00:00:00.000Z,2117568,parse-cloud,_User$HzwsO90KQW,São Paulo,São Paulo,São Paulo,São Paulo,2022-02-26T03:01:34.992Z,2022-02-26T03:01:34.992Z
freq,1,5,3,233,152,109,19,109,19,1,1

## Amostragem Aleatoria Estratificada:

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
dados['origem'].value_counts()

parse-cloud              150636
RPA-SP                    45953
RPA-GO                    30834
RPA-MS                    10580
RPA-PR-CURITIBA            2605
RPA-RN                     2287
RPA-MG-BELO-HORIZONTE       550
Name: origem, dtype: int64

# Analise de Componentes Principais (PCA)

# Analise Fatorial (FA)