<a href="https://colab.research.google.com/github/Gus-1003/Geoestatistica_Estudos_Dados/blob/main/DataSus_Brasil_2022/DataSus_Leitos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
from google.colab import drive
drive.mount('/content/drive/')
%cd /content/drive/MyDrive/

Mounted at /content/drive/
/content/drive/MyDrive

In [4]:
# ler dados de interesse
dados = pd.read_csv('/content/drive/MyDrive/TEEP/esus-vepi.LeitoOcupacao_2022.csv', quotechar='"')
dados

,Unnamed: 0,_id,dataNotificacao,cnes,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,...,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,excluido,validado,_created_at,_updated_at
0,641508,PBGTlqtFBP,2022-01-17T03:00:00.000Z,2379341,13.0,8.0,0.0,0.0,0.0,1.0,...,parse-cloud,_User$m6WdvZgbBS,Santa Catarina,Mafra,Santa Catarina,Mafra,False,False,2021-02-15T11:08:07.797Z,2022-01-17T21:56:42.351Z
1,1275198,ipPHkH1yIB,2022-01-05T03:00:00.000Z,2594366,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$C2nTBR5lmy,Paraná,Umuarama,Paraná,Umuarama,False,False,2021-12-08T10:42:04.123Z,2022-01-05T14:17:35.799Z
2,1290474,oDyVTndNXc,2022-01-01T03:00:50.682Z,2747871,NaN,NaN,NaN,NaN,1.0,9.0,...,parse-cloud,_User$APEoiAf61c,São Paulo,Ilhabela,São Paulo,Ilhabela,False,False,2022-01-01T03:34:58.234Z,2022-01-01T03:34:58.234Z
3,1290489,cTrwNtInVV,2022-01-01T03:00:08.570Z,2082497,NaN,NaN,NaN,NaN,0.0,1.0,...,parse-cloud,_User$q0FgtTNz2d,São Paulo,Bernardino de Campos,São Paulo,Bernardino de Campos,False,False,2022-01-01T04:50:29.194Z,2022-01-01T04:50:29.194Z
4,1290490,CPkiO32WyI,2022-01-01T03:00:14.691Z,2092980,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$u4yOaQOJlf,São Paulo,Bastos,São Paulo,Bastos,False,False,2022-01-01T05:01:31.468Z,2022-01-01T05:01:31.468Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243440,1543296,uRqi5a9540,2022-08-23T03:00:43.617Z,2756749,NaN,NaN,NaN,NaN,6.0,3.0,...,parse-cloud,_User$aRB1StMyTR,Minas Gerais,Ribeirão das Neves,Minas Gerais,Ribeirão das Neves,False,False,2022-08-23T21:12:28.980Z,2022-08-23T21:12:28.980Z
243441,1543297,NdjY2VEUPg,2022-08-23T03:00:09.780Z,2760819,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$cIStY25tjj,Minas Gerais,Minduri,Minas Gerais,Minduri,False,False,2022-08-23T21:29:24.944Z,2022-08-23T21:29:24.944Z
243442,1543298,kvLTKVDAGY,2022-08-23T03:00:31.846Z,2785900,NaN,NaN,NaN,NaN,4.0,17.0,...,parse-cloud,_User$VwuTSRYBo3,Ceará,Fortaleza,Ceará,Fortaleza,False,False,2022-08-23T21:41:08.877Z,2022-08-23T21:41:08.877Z
243443,1543299,fi5TxwfiC7,2022-08-23T03:00:29.871Z,2363070,NaN,NaN,NaN,NaN,0.0,0.0,...,parse-cloud,_User$Eu3qeTtHXO,Paraíba,Campina Grande,Paraíba,Campina Grande,False,False,2022-08-23T21:44:44.670Z,2022-08-23T21:44:44.670Z
243444,1543300,nk5gIt8KH4,2022-08-23T02:00:34.373Z,5585422,NaN,NaN,NaN,NaN,10.0,1.0,...,parse-cloud,_User$ewVdRpj6GC,Pará,Santarém,Pará,Santarém,False,False,2022-08-23T21:47:39.399Z,2022-08-23T21:47:39.399Z

In [9]:
dados.shape

(243445, 26)

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243445 entries, 0 to 243444
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   Unnamed: 0             243445 non-null  int64
 1   _id                    243445 non-null  object
 2   dataNotificacao        243445 non-null  object
 3   cnes                   243445 non-null  object
 4   ocupacaoSuspeitoCli    1 non-null       float64
 5   ocupacaoSuspeitoUti    1 non-null       float64
 6   ocupacaoConfirmadoCli  1 non-null       float64
 7   ocupacaoConfirmadoUti  1 non-null       float64
 8   ocupacaoCovidUti       243445 non-null  float64
 9   ocupacaoCovidCli       243445 non-null  float64
 10  ocupacaoHospitalarUti  243445 non-null  float64
 11  ocupacaoHospitalarCli  243445 non-null  float64
 12  saidaSuspeitaObitos    243445 non-null  float64
 13  saidaSuspeitaAltas     243445 non-null  float64
 14  saidaConfirmadaObitos  243445 non-null  float64
 15  saidaConfirmadaAltas   243445 non-null  float64
 16  origem                 243445 non-null  object
 17  _p_usuario             243445 non-null  object
 18  estadoNotificacao      243445 non-null  object
 19  municipioNotificacao   243445 non-null  object
 20  estado                 243445 non-null  object
 21  municipio              243445 non-null  object
 22  excluido               243445 non-null  bool
 23  validado               243445 non-null  bool
 24  _created_at            243445 non-null  object
 25  _updated_at            243445 non-null  object
dtypes: bool(2), float64(12), int64(1), object(11)
memory usage: 45.0+ MB

In [6]:
dados.describe()

,Unnamed: 0,ocupacaoSuspeitoCli,ocupacaoSuspeitoUti,ocupacaoConfirmadoCli,ocupacaoConfirmadoUti,ocupacaoCovidUti,ocupacaoCovidCli,ocupacaoHospitalarUti,ocupacaoHospitalarCli,saidaSuspeitaObitos,saidaSuspeitaAltas,saidaConfirmadaObitos,saidaConfirmadaAltas
count,2.434450e+05,1.0,1.0,1.0,1.0,243445.000000,243445.000000,243445.000000,243445.000000,243445.000000,243445.000000,243445.000000,243445.000000
mean,1.420358e+06,13.0,8.0,0.0,0.0,2.214574,3.241566,8.869367,36.556274,0.123794,0.548703,0.945059,6.659911
std,7.193734e+04,NaN,NaN,NaN,NaN,7.323370,44.984199,25.870032,78.219066,2.310973,9.545234,15.417578,157.534467
min,6.415080e+05,13.0,8.0,0.0,0.0,-7.000000,-1.000000,-5.000000,-1.000000,-5.000000,-5.000000,-1.000000,-6.000000
25%,1.360232e+06,13.0,8.0,0.0,0.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.421419e+06,13.0,8.0,0.0,0.0,0.000000,0.000000,0.000000,11.000000,0.000000,0.000000,0.000000,0.000000
75%,1.482411e+06,13.0,8.0,0.0,0.0,1.000000,2.000000,10.000000,42.000000,0.000000,0.000000,0.000000,0.000000
max,1.543300e+06,13.0,8.0,0.0,0.0,300.000000,21701.000000,8191.000000,21701.000000,106.000000,3292.000000,3300.000000,9167.000000

In [7]:
dados.describe(include='object')

,_id,dataNotificacao,cnes,origem,_p_usuario,estadoNotificacao,municipioNotificacao,estado,municipio,_created_at,_updated_at
count,243445,243445,243445,243445,243445,243445,243445,243445,243445,243445,243445
unique,243445,117801,2019,7,1206,27,1206,27,1206,243310,243316
top,PBGTlqtFBP,2022-01-14T03:00:00.000Z,2775999,parse-cloud,_User$HzwsO90KQW,São Paulo,São Paulo,São Paulo,São Paulo,2022-02-26T03:01:24.290Z,2022-02-26T03:01:24.290Z
freq,1,577,248,150636,93596,62209,11408,62206,11408,2,2

In [10]:
dados.isna().sum()

Unnamed: 0                    0
_id                           0
dataNotificacao               0
cnes                          0
ocupacaoSuspeitoCli      243444
ocupacaoSuspeitoUti      243444
ocupacaoConfirmadoCli    243444
ocupacaoConfirmadoUti    243444
ocupacaoCovidUti              0
ocupacaoCovidCli              0
ocupacaoHospitalarUti         0
ocupacaoHospitalarCli         0
saidaSuspeitaObitos           0
saidaSuspeitaAltas            0
saidaConfirmadaObitos         0
saidaConfirmadaAltas          0
origem                        0
_p_usuario                    0
estadoNotificacao             0
municipioNotificacao          0
estado                        0
municipio                     0
excluido                      0
validado                      0
_created_at                   0
_updated_at                   0
dtype: int64